#example-advanced {
    font-size: 1em;
}
#example-advanced tr td, #example-advanced span, #example-advanced a {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#contextMenu {
  position: absolute;
  display:none;
}



textarea {
    resize: vertical;
}
.textarea-small {
    height: 70px !important;
}
.textarea-large {
    height: 210px !important;
}
.github-btn {
    height: 20px;
    overflow: hidden;
}
.jw-docs-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.jw-docs-footer-links {
    padding-left: 0;
    margin-top: 10px;
    color: #999;
}
.jw-docs-footer-links li:first-child {
    padding-left: 0;
}
.jw-docs-footer-links li {
    display: inline;
    padding: 0 2px;
}
.navbar-brand, .bs-docs-nav .navbar-nav>li>a {
    font-weight: 500;
    color: #fff;
}
.bs-docs-nav .navbar-nav>li>a:hover, .bs-docs-nav .navbar-nav>li>a:focus {
    background-color: #2a6496;
}
.bs-docs-nav {
    background-color: #428bca;
}
.bs-docs-nav .navbar-header .navbar-toggle:hover, .jw-docs-nav .navbar-header .navbar-toggle:focus {
    background-color: #2a6496;
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #fff;
}
.bs-header {
    background-color: #428bca;
    color: #fff;
}
.content-title {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
}
.navbar-header a:hover {
    color: #ddd;
}
.bs-docs-nav {
    margin-bottom: -1px;
}
.right {
    float: right;
}
.add-modal .form-control:first-child, .edit-modal .form-control:first-child {
    margin-top: 8px;
}
.label-global, .edit-modal label{
	font-weight: normal;
}
.form-search {
    display: inline-block;
}
.cache-search {
    width: 180px;
    margin-right: 30px;
}
.type-checkbox, .ip-checkbox, .refresh-checkbox {
    margin-left: 16px;
    font-size: 1.1em;
}
.load-more {
    width: 100%;
    text-align: center;
}
.load-more button{
    min-width: 25%;
}
.markdown-code{
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}
.th-limit-param {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.th-limit-api {
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popover-content {
    word-break: break-all;
}
.input-group-addon {
    min-width: 120px;
}
.table-delay {
    width: 40px;
}
#search-ip, #search-text {
    width: auto;
}
#response-main-form {
    width: 100%;
}
@media (min-width: 768px) {
    .modal-dialog {
        width:800px!important;
    }
}